
/*******************颜色定义规范***************************/
/*纯白色*/
$white:#fff;

/*头部背景色*/
$header-background:#129e87;

/*灰色中间间隔颜色*/
$grey-background:#f7f8fa;

/*底部菜单栏背景色*/
$footer-background:#1b1a1a;

/*底部图标颜色*/
$footer-icon:#767676;

/*底部选中块状颜色*/
$footer-selected-background:#2b2a2a;

/*黑色字体颜色*/
$black-color:#323232;

/*浅黑色字体颜色*/
$shallow-black-color:#a0a0a0;

/*绿色字体颜色*/
$color-text:#129e87;

/*橘黄色提示信息颜色*/
$color-toptip-text:#ed7f59;

/*边框颜色*/
$border-color:#e0e1e3;

/*浅绿色*/
$light-green:#26ccb1;

/*黄色*/
$yellow:#fcc868;

/*灰绿色*/
$grey-green:#84e3d3;

/*深绿色*/
$dark-green:#3bc7b0;
/*深绿色头部*/
$dark-green-header:#178573;

/*底部图标颜色*/
$item-color:#0b7b69;

/*底部灰色字颜色*/
$font-grey-color:#999;

/*浅黄色*/
$light-yellow:#f2c94c;
/******************字体定义规范****************************/
/*标题文字*/
$title-size:16px;
/*评论字体大小*/
$comment-size:13px;

/*一般文字*/
$common-size:14px;

/*辅助文字*/
$assist-size:12px;


/*******************行高度********************************/
/*头部行高*/
$header-height:50px;

/*间距高度*/
$space-height:10px;

/*横向标题功能条*/
$second-title:35px;

/*图标的宽高*/
$image-size:45px;

/*按钮高度*/
$button-height:26px;

/*页面最底部的元素距离tabbar高度*/
$bottom-page-marginbottom-height:60px;
